/*第一屏动画*/
.screen-1__heading,
.screen-1__subheading{
	transition: all 1s;
}
.screen-1__heading_animate_init,
.screen-1__subheading_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}
.screen-1__heading_animate_done,
.screen-1__subheading_animate_done{
	opacity: 1;
	transform: translate(0,0);
}
/*第二屏动画*/
.screen-2__heading,
.screen-2__subheading,
.screen-2__sc2-1{
	transition: all 1s;
}
.screen-2__sc2-2{
	transition: all 3s;
}
.screen-2__heading_animate_init,
.screen-2__subheading_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}
.screen-2__sc2-1_animate_init,
.screen-2__sc2-2_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}
.screen-2__heading_animate_done,
.screen-2__subheading_animate_done,
.screen-2__sc2-1_animate_done,
.screen-2__sc2-2_animate_done{
	opacity: 1;
	transform: translate(0,0);
}
/*第三屏动画*/
.screen-3__heading,
.screen-3__subheading,
.screen-3__pic,
.screen-3__items{
	transition: all 1s;
}
.screen-3__heading_animate_init,
.screen-3__subheading_animate_init,
.screen-3__items_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}
.screen-3__pic_animate_init{
	transform:scale(0);
}
.screen-3__pic_animate_done{
	transform:scale(1.5);
}
.screen-3__heading_animate_done,
.screen-3__subheading_animate_done,
.screen-3__items_animate_done{
	opacity: 1;
	transform: translate(0,0);
}
/*第四屏动画*/
.screen-4__heading,
.screen-4__subheading,
.screen-4__features{
	transition: all 1s;
}
.screen-4__heading_animate_init,
.screen-4__subheading_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}
.screen-4__heading_animate_done,
.screen-4__subheading_animate_done{
	opacity: 1;
	transform: translate(0,0);
}
.screen-4__features_animate_init{
	opacity: 0;
	transform: scale(0);
	
}
.screen-4__features-1_animate_done{
	opacity: 1;
	transform: scale(1);
}
/*第五屏动画*/
.screen-5__heading,
.screen-5__subheading,
.screen-5__pic{
	transition: all 1s;
}

.screen-5__heading_animate_init,
.screen-5__subheading_animate_init,
.screen-5__pic_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}
.screen-5__heading_animate_done,
.screen-5__subheading_animate_done,
.screen-5__pic_animate_done{
	opacity: 1;
	transform: translate(0,0);
}
/*导航条_status_back样式*/
.header{
	transition: all 1s;
}
.header_status_back{
	background-color:rgba(255,255,255,.5); 
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	z-index: 3;
}
.header_status_back .header__logo,
.header_status_back .header__nav-item{
	color: #000;
}
.header_status_back .header__nav-item_status_active{
	color:#000;
}
/*大纲_status_in模式*/
.outline{
	opacity: 0;
	transition: all 1s;
	transform: translate(100%,0);
}
.outline_status_in{
	opacity: 1;
	transform: translate(0,0);
}